@tailwind base;
@tailwind components;
@tailwind utilities;


@property --countDeg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

/*
Creating styles for the 9x9 boxes
 */

.tableRow:nth-child:first-child .tableCell{
    @apply border-t-2
}

.tableRow:nth-child(3n) .tableCell{
    @apply border-b-2
}

.tableRow .tableCell:first-child{
    @apply border-l-2
}

.tableRow .tableCell:nth-child(3n){
    @apply border-r-2
}

.tableCellNotes{
    grid-template-areas: "note-1 note-2 note-3"
                        "note-4 note-5 note-6"
                        "note-7 note-8 note-9";
}

.note-1{
    grid-area: note-1;
}

.note-2{
    grid-area: note-2;
}

.note-3{
    grid-area: note-3;
}

.note-4{
    grid-area: note-4;
}

.note-5{
    grid-area: note-5;
}

.note-6{
    grid-area: note-6;
}

.note-7{
    grid-area: note-7;
}

.note-8{
    grid-area: note-8;
}

.note-9{
    grid-area: note-9;
}

.inputValueButton::after{
    transition: --countDeg ease-in .3s;
    background: conic-gradient(
            darkblue var(--countDeg), gray var(--countDeg));
    /*background-color: darkblue;*/
}